body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
    background-size: 100% 500px;
    background-color: #1b2838;
    background-image: repeating-linear-gradient(#1b2838, #25364c, #1b2838);

}

.mainContainer {
    margin: auto;
    max-width: 960px;
    min-height: 100%;
    min-width: 960px;
}

#banner {
    max-width:100%;
    height: auto;
    object-fit: contain;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchContainer {
    max-width: 100%;
    max-height: 48px;
    height: 48px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 0 3px rgba( 255, 255, 255, 0.4);
    opacity: 0.5;
}

#searchButton {
    margin: 6px 6px 6px 6px;
    padding: 0px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: cornflowerblue;
    height: 35px;
    width: 35px;
    float: left;
}
#searchButton:hover {
    cursor: pointer;
}

#searchField {
    margin: 6px 6px 6px 6px;
    padding: 0px;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 100%;
    max-width: 740px;
    float: left;
}

#searchField:hover {
    border: 1px solid #c6d4df;
    margin: 4px 4px 4px 5px;
    cursor: pointer;
}

#dropDownMenu {
    margin: 6px 10px 5px 5px;
    float: right;
    height: 35px;
    width: 140px;
    cursor: pointer;
    border: none;
}

.gamesContainer {

}

@media only screen and ( max-width: 960px ) {
    .searchContainer {
        width: auto;
        max-height: 48px;
        height: 48px;
        position: relative;
    }
    #searchButton {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: cornflowerblue;
        height: 35px;
        width: 35px;
        float: left;
        position: absolute;
    }
    #dropDownMenu {
        margin: 6px 10px 5px 5px;
        float: left;
        height: 35px;
        width: 140px;
        cursor: pointer;
        border: none;
        position: absolute;
        left: 50px;
    }
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 740px;
        float: left;
        position: absolute;
        left: 200px;
    }

}
@media only screen and ( max-width: 900px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 700px;
        float: left;
        position: absolute;
        left: 200px;
    }
}

@media only screen and ( max-width: 850px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 600px;
        float: left;
        position: absolute;
        left: 200px;
    }
}

@media only screen and ( max-width: 800px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 550px;
        float: left;
        position: absolute;
        left: 200px;
    }
}


@media only screen and ( max-width: 740px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 500px;
        max-width: 500px;
        float: left;
        position: absolute;
        left: 200px;
    }
}
@media only screen and ( max-width: 700px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 450px;
        float: left;
        position: absolute;
        left: 200px;
    }
}
@media only screen and ( max-width: 650px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 400px;
        float: left;
        position: absolute;
        left: 200px;
    }
}
@media only screen and ( max-width: 600px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 350px;
        float: left;
        position: absolute;
        left: 200px;
    }
}

@media only screen and ( max-width: 550px ) {
    #searchField {
        margin: 6px 6px 6px 6px;
        padding: 0px;
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 300px;
        float: left;
        position: absolute;
        left: 200px;
    }
}