body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
    background-size: 100% 500px;
    background-color: #1b2838;
    background-image: repeating-linear-gradient(#1b2838, #25364c, #1b2838);

}

.mainContainer {
    margin: auto;
    max-width: 960px;
    min-height: 100%;
}

#banner {
    max-width:100%;
    height: auto;
    object-fit: contain;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchContainer {
    max-width: 100%;
    max-height: 48px;
    height: 48px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 0 3px rgba( 255, 255, 255, 0.4);
    opacity: 0.5;
}

#searchButton {
    margin: 5px;
    padding: 0px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2.3em;
    text-align: center;
    color: cornflowerblue;
    height: 35px;
    width: 35px;
}
#searchButton:hover {
    cursor: pointer;
}

#searchField {
    margin: 5px 5px 5px 10px;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 100%;
    max-width: 740px;
}

#searchField:hover {
    border: 1px solid #c6d4df;
    margin: 4px 4px 4px 9px;
    cursor: pointer;
}

#dropDownMenu {
    margin: 5px 5px 5px 5px;
    float: right;
    height: 35px;
    width: 140px;
    cursor: pointer;
}

.gamesContainer {

}